
@import "tocmenu.css";
@import "relatedmenu.css";
@import "hismenu.css";
@import "searchmenu.css";
@import "content.css";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body
{
    height: 100%;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    /* background: #f8f8f8; */
    background-color: #e8e8e8;
}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
    html, body
    {
        font-size: 150%;
    }

}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
    html, body
    {
        font-size: 125%;
    }
}


h1, h2, h3, h4, h5
{
    /* font-family: 'Abril Fatface', cursive; */
}

svg
{
    font-family: initial;
    font-size: initial;
}


br.clear {
    clear: both;
}

hr {
    display: block;
    margin: 5px 0px;
    overflow: hidden;
    border: none;

    background-image: linear-gradient(to right, #ccffcc, #207020, #207020, #ffffff);
    height: 5px;
}

.outergrid {
    position: relative;
    height: 100%;
}

#openEP, #closeEP, #diffEP, #commitMenuItem {
        /* background: #028090; */
}


#cwikheader {
    background-color: #3A3048;
    background-image: linear-gradient(250deg, #3A3048 0%, #422272 74%);

}

#cwikheader {
    display: block;
    height: 50px;
    margin: 0px;
    color: #fff;
    margin-top: 0px;
    margin: 0px;
    position: fixed;
    width: 100%;
    z-index: 4;
    overflow: hidden;
}
@media screen and (max-width: 1024px) {
    #cwikheader {

    }
}

.cwikcontent {
    display: block;
    position: absolute;
    float: center;
    width: 95%;
    padding: 7.5px;
    z-index: 1;
    color: #000000;
    overflow-x: hidden;
}

#rawMarkdown {
    visibility: hidden;
    display:none;
}


.cwikmeta {
    visibility: hidden;
    display: none;
}


.item-content {
    position: relative;
    width: 100%;
    height: 100%;
}

/*
#LogInOutDiv {
    position:relative;
    display: inline-block;
    vertical-align: top;
}*/

/*
@media screen and (max-width: 850px) {
    .horizMenu {
        line-height: 10px !important;
        position: fixed;
        z-index: 15;
        top: 10px !important;
        right: 10ch;
    }
}


@media screen and (max-width: 580px) {
    .horizMenu {
        line-height: 20px !important;
        position: fixed;
        z-index: 15;
        right: 10ch;

    }
}
*/

.horizMenu:hover {
    color: #f8f8f8;
    cursor: pointer;
}

#sidebarAndContent {
    margin-top:50px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    z-index: 0;
    color: #fff;
    float: left;

}
.leftsidebar {
    flex-shrink:0;
    width: 25ch;
    height: 100%;
    z-index: 3;
    color: #fff;
    overflow: visible;
    float: left;

}


#lsb {
    position: fixed;
    overflow: visible;
}

#sideBarButton {
    position: fixed;
    left: 65px;
    top: 10px;
    z-index: 6;
    background-color: transparent;
}

#pdfexport {
    position: fixed;
    left: 97.5%;
    top: 10px;
    z-index: 6;
    background-color: transparent;
    width: 30px;
    height: 30px;
}
@media screen and (max-width: 1250px) {
    #pdfexport {
        left: 96%;
        top: 10px;
    }
}

.VertB {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.Content {
    margin: 0 auto;
    max-width: 150ch;
    width: 90%;
    height: 100%;
    vertical-align: top;
    z-index: 2;
}

.Content img {
    max-width: 100%;
    padding: 0.5rem;
    border: 1px solid #f8f8f8
}
@media screen and (max-width: 480px) {
    .Content img {
        padding: 0;
        border: none
    }
}


#sidebargrid {
    position: fixed;
    background-color: #3A3048;
    background-image: linear-gradient(250deg, #3A3048 0%, #422272 75%);
    color: #fff;
    width: 30ch;
    height: 100vh !important;
    overflow-y: scroll;
}
@media screen and (max-width: 1250px) {
    #sidebargrid {
        width: 25ch;
    }
}
@media screen and (max-width: 1024px) {
    #sidebargrid {
        width: 100% !important;
        height: 75vh !important;
        background-image: linear-gradient(to left, #3A3048 0%, #422272 75%);
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: transparent  white;
  }

  *::-webkit-scrollbar {
    width: 7.5px;

  }
  *::-webkit-scrollbar-track {
    background: transparent;

  }
  *::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: 2px solid#FFFFC0;
  }


.history {
    display: block;
    position: absolute;
    width: 95%;
    margin-left: 3px;
    margin-top:5px;
    z-index: 2;
    color: #000000;
    border-radius: 8px;
    border: 2px solid #FFFFC0;
    background: #d0d0d0;
    color: #000000;
    text-align: center;
}

.related {
    display: block;
    position: absolute;
    width: 95%;
    margin-left: 3px;
    margin-top:5px;
    z-index: 2;
    color: #000000;
    border-radius: 8px;
    border: 2px solid #FFFFC0;
    background: #d0d0d0;
    color: #000000;
    text-align: center;
}

.structure {
    display: block;
    position: absolute;
    width: 95%;
    margin-left: 3px;
    margin-top:5px;
    z-index: 2;
    border-radius: 8px;
    border: 2px solid #FFFFC0;
    background: #d0d0d0;
    color: #000000;
}

.sbBubble {
    display: block;
    width: 95%;
    margin-left: 3px;
    margin-top: 5px;
    z-index: 2;
    color: #f8f8f8;
    text-align: inherit;
    border-bottom: 1px solid #FFFFC0;
}
@media screen and (max-width: 767px) {
    .sbBubble {
        border-bottom: none
    }
}

#structureI {
    margin: 0.5rem 0px 0.75rem 0px;
    font-size: 1.2rem;
}


#relatedI {
    margin: 1.5rem 0px 0.75rem 0px;
    font-size: 1.2rem;
}


#historyI {
    margin: 0.5rem 0px 0.75rem 0px;
    font-size: 1.2rem;
}


#titleMenus {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 5ch;
    z-index: 45;
    color: #ffffff;
    line-height: 30px;
    overflow: hidden;
}

.toolBar {
    display: inline-block;
    position: absolute;
    width: 6ch;
    left: 90px;
    z-index: 5;
    color: #ffffff;
    text-align:center;
    top: 50%;
    transform: translateY(-50%);
}
/* tight, so stack edit and logout */
@media (orientation: portrait) {
/* @media screen and (max-width: 850px) { */
    .toolBar {
        left: unset !important;
        right: 100px;
        line-height: 30px;
        top: 3px;
        transform: unset;
    }
    #titleMenus {
        top: unset;
        bottom: 3px;
        right: 100px;
    }
}
@media screen and (max-width: 600px) {
    .toolBar {
        font-size: 12px;
    }
    #titleMenus {
        font-size: 12px;
    }
}


#editBar {
    display: inline-block;
    position: fixed;
    z-index: 6;
}

#userBar {
    display: inline-block;
    z-index: 5;
    color: #ffffff;
    margin-left: 20px;
    margin-right: 10px;
}

#EpBar {
    display: inline-block;
    position: relative;
    z-index: 6;
    color: #ffffff;
    vertical-align: top;
    margin-top: 1px;
    margin-right: 10px;
}



#searchBarPos {
    display: inline-block;
    z-index: 5;
    height: 30px;
    color: #ffffff;
}

#searchTextPositioner {
    display: inline-block;
    position: relative;
    border: none;
}

#searchResults {
    min-height: 70px;
}

#searchButton {
    display: inline-block;
    width: 22px;
    height: 22px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    vertical-align: middle;
}

#searchText {
    vertical-align: middle;
    line-height: 21px !important;
    width: 100% !important;
}

.textEntry {
    background: white;
    color: #111111;
    border-radius: 2px;
    border: none;
}

@media screen and (max-width: 1024px) {
    #searchText {
        margin-left: 10px !important;
    }
}

#searchText::placeholder {
    color: white;
}

#searchText:focus {
    background: white;
    color: #111111;
    height: 100%;
    padding-top: 2px;
}

#hiddenSubmit {
    display: none;
}


#searchButton:hover {
    cursor: pointer;
    vertical-align: center;
}

#headerCoin
{
    display: inline-block;
    position: fixed;
    left: 10px;
    top: 5px;
    z-index: 6;
    background-color: transparent;
    width: 2.75rem;
    margin-left: 0%;
    height: 50px;
    width: 50px;
}
#headerCoin:hover
{
    width: 3.25rem;
    margin-left: 0%;
    cursor: pointer;
}

#headerPageTitle {
    display: inline-block;
    position: absolute;
    z-index: 5;
    font-size: 24px;
    left: 15%;
    top: 10px;
}

@media screen and (max-width: 850px) {
    #headerPageTitle {
        font-size: 19px;
        left: 27.5%;
        top: 20px;
    }
}


.notification {
    font-size: 140%;
    position: fixed;
    width: 100%;
    background-color: orange;
    z-index: 2;
    display: none;
}

.headerText {
    font-size: 1.7rem;
    margin-top: 2rem;
    border-top: 2px solid #ffffb0;
}
@media screen and (max-width: 1024px) {
    .headerText {
        margin-top: 0.5rem;
        border-top: none;
    }
}
@media screen and (max-width: 767px) {
    .headerText {
        font-size: 1.5rem;
    }
    .notification {
        font-size: 1.5rem;
    }
}

#mdData {
    display: none;
}

input#challenge
{
    text-align:center;
    width: 99%;
}
input#addr
{
    text-align:center;
    width: 99%;
}
input#sig
{
    text-align:center;
    width: 99%;
}

/*
#editProposal::placeholder {
    color: #e0e000;
}
#editProposal {
    background: #027090;
    color: #ffffff;
    height: 20px;
    width: 20ch;
}
*/

/* new media */

#mediaFigure {

}

#dropArea {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 2px dashed #ccc;
    border-radius: 20px;
    min-width: 500px;
    min-height: 400px;
    font-family: sans-serif;
    padding: 20px;
}

#dropArea.highlight {
    border-color: purple;
}

#fileElem {
    display: none;
}
/* @media screen and (max-device-width: 640px){ */

.searchTextPortraitPositioner {
    display: inline-block;
    width: 90%;
    margin-right: auto;
    margin-left: 5%;
    margin-bottom: 5px;
    text-align: center;
}

.searchTextPortrait {
    font-size: 100%;
    width: 100%;
    text-align: center;
}


#register {
    display: inline-block;
    width:45%;
    vertical-align: top;
}
#login {
    display: inline-block;
    width:45%;
    vertical-align: top;
}

#login h2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#bchidentity_op_reg {
    margin: auto;
}

#RegQRcode,#LoginQRCode {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* nav menu will auto-close so it should cover over text */
@media (orientation: portrait) {
    .leftsidebar {
        display: none;
        position: fixed;
    }

    #sideBarButton {
        width: 64px;
        height: 64px;
        top: 5px;
    }

    .VertB {
    }

    #sidebarAndContent {
        margin-top:70px;
        display: block;
    }

    #cwikheader {
        height: 70px;
    }

    #bchHeaderCoin {
        left: 5px;
        z-index: 6;
        width: 4rem;
        margin-left: 0%;
    }

/*
    #EpBar {
        display: none;
    }
    */

    #bchHeaderCoin:hover
    {
        width: 4rem;
    }

/*
@media screen and (max-width: 580px) {
    .horizMenu {
        font-size: 1.25rem !important;
        left: 60%;
        top: 25px !important
    }
}
*/
}

@media screen and (max-width: 850px) {
    #pdfexport {
        left: 87.5% !important;
        width: 50px !important;
        height: 50px !important;
    }
}
@media screen and (max-width: 480px) {
    #pdfexport {
        left: 86% !important;
    }
}

@media screen and (max-width: 480px) {
    #bchHeaderCoin {
        width: 2.75rem;
      }
      #bchHeaderCoin:hover {
        width: 2.75rem;
      }
}

@media screen and (max-width: 580px) {
    #headerPageTitle {
        display: none !important;
    }
}

@media screen and (min-width: 280px) and (max-width: 345px) {
    #pdfexport {
        left: 82% !important;
    }
/*
    .horizMenu {
        font-size: 1.25rem !important;
        left: 55%;
        top: 25px !important
    }
*/
}

@media screen and (max-height: 414px) and (orientation: landscape) {
    #pdfexport {
        width: 30px !important;
        height: 30px !important;
        left: 95% !important;
    }
/*
    .horizMenu {
        font-size: 0.8rem !important;
    }
*/
}
