.ltoc_h1, .ltoc_h2, .ltoc_h3, .ltoc_h4, .ltoc_h5, .ltoc_h6 {
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    text-decoration: none;  /* Wipe out the anchor styling in the history menu */
    color: inherit;
}

.ltoc_h2, .ltoc_h3, .ltoc_h4, .ltoc_h5, .ltoc_h6 {
    display: none;
}

/* inject a bigger thing so the hover doesn't change the element size */
.ltoc_h1::after, .ltoc_h2::after, .ltoc_h3::after, .ltoc_h4::after, .ltoc_h5::after, .ltoc_h6::after{
    margin: 0px;
    content: " ";
    font-weight: bold;
    /* font-size: 120%; */
}

.ltoc_h1:hover, .ltoc_h2:hover, .ltoc_h3:hover, .ltoc_h4:hover, .ltoc_h5:hover, .ltoc_h6:hover {
    /* background-image: linear-gradient(#c0c0c0, #197717,#197717,#c0c0c0);
    background-color: #3d1e0b; */
   background: #04609F;
    /* color: #fca22b; */
    cursor: pointer;
}

.ltoc_h1:hover .itoc_h1, .ltoc_h2:hover .itoc_h2, .ltoc_h3:hover .itoc_h3, .ltoc_h4:hover .itoc_h4, .ltoc_h5:hover .itoc_h5, .ltoc_h6:hover .itoc_h6 {
    /* color: #805000; */
/*    font-size: 115%; */
/*    margin: 2px; */
    cursor: pointer;
}

.itoc_h1, .itoc_h2, .itoc_h3, .itoc_h4, .itoc_h5, .itoc_h6 {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    text-decoration: none;  /* Wipe out the anchor styling in the history menu */
    color: inherit;
}

.itoc_h1 {
    margin-left: 1ch;
}

.itoc_h2 {
    margin-left: 3ch;
}

.itoc_h3 {
    margin-left: 5ch;
}

.itoc_h4 {
    margin-left: 7ch;
}

.itoc_h5 {
    margin-left: 9ch;
}

.itoc_h6 {
    margin-left: 11ch;
}

.sb_collapsible {
  cursor: pointer;
}

.sb_active{
    display: inline-block;
}
