doctype html
html
  head
    title=title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='icon', type='image/png', href='/_static_/images/favicon.png')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato&Oswald:wght@500&display=swap")
    link(rel='stylesheet', href='/_static_/css/styles.css')
    link(rel="stylesheet", href="/_static_/css/katex.min.css")

    meta(property="og:title" content=title)
    if (typeof summary !== "undefined")
      meta(property="og:description" content=summary)
    if (typeof site !== "undefined")
      meta(property="og:site_name" content=site)
    if (typeof canonicalURL !== "undefined")
      meta(property="og:url" content=canonicalURL)
    if (typeof pic !== "undefined")
      meta(property="og:image" content=pic)
    if (typeof ogType !== "undefined")
      meta(property="og:type" content=ogType)

  body
    script(src="https://unpkg.com/web-animations-js@2.3.1/web-animations.min.js")
    script(src="https://unpkg.com/hammerjs@2.0.8/hammer.min.js")
    script(src="/_static_/js/muuri.js")
    script.
      var STACKEDIT_URL="!{STACKEDIT_URL}";
      var SITE_NAME="!{SITE_NAME}";
    script(src="/_static_/js/base64ArrayBuffer.js")
    script(src="/_static_/js/layout.js")
    script.
      setupLayout(document, window);

    //a(href="/")
    //  img#headerCoin(src="/_static_/images/bchCoin.svg", onclick="linkTo('/home'); return false;", title="home")
    a(href="/")
      img#headerCoin(src="/_static_/images/homeIcon.png", onclick="linkTo('/home'); return false;", title="home")


    div#cwikheader
      img#sideBarButton(src='/_static_/images/closemenuIcon.svg', onclick="toggleSidebar()", title="toggle menu")
      img#pdfexport(src='/_static_/images/pdfExportIcon.svg', onclick="pdfExport()", title="export to pdf")
      div.toolBar
        block toolBar
      div#headerPageTitle
        block header
      div#titleMenus
        div#EpBar
          //- v also check if user has commit priviledges
          if user && user.loggedIn
            input#editProposal.textEntry(type="text" placeholder="edit proposal" value=user.editProposal)
            |
            span.horizMenu#closeEP(onclick="return closeEditProposal();") close
            span.horizMenu#openEP(onclick="return openEditProposal();") open
            |  |
            span.horizMenu#diffEP(onclick="diffEditProposal(); return false;") diff
            span#diffEPsep |
          if user && user.loggedIn
            span.horizMenu#commitMenuItem(onclick="commitEdits(); return false;") commit
            |  |
            span.horizMenu#submitEP(onclick="submitEditProposal(); return false;") submit
        div#userBar
          div#LogInOutDiv
            if user && user.loggedIn
               span.horizMenu(onclick="logout()") logout
            else
               span.horizMenu(onclick="login()") login


    div#sidebarAndContent
     div.leftsidebar
      div#lsb
        div#sidebargrid
          div#searchTextPositioner.sbBubble
            div.item-content
                form#searchBar
                  input#searchText.textEntry(type="text" placeholder="search" value=(lastSearch ? lastSearch : ""))
                  input#hiddenSubmit(type="submit", onclick="search(); return false;")
          div#searchResults.sbBubble
             div.item-content
                center#searchHeader.headerText Search
                div#searchI
          div#structure.sbBubble
             div.item-content
                block structure
          //div#related.sbBubble
             //div.item-content
                //block related
          div#history.sbBubble
             div.item-content
                block history

     div.VertB
      div.notification
        center#notifyText
          block notification
      div.Content
        div.item-content
          div.cwikcontent
              block wikipage

    textarea#rawMarkdown

    if user && user.loggedIn
      script.
        setEditProposalMenuVisibility("!{user.editProposal}");
    script.
      let user = !{JSON.stringify(user)};  // This inanity sets the javascript user variable to the pug user variable
      let portrait = window.matchMedia("(orientation: portrait)").matches;
      let width = window.innerWidth;

      // switch the search into the sidebar
      if (1) {  // search always in sidebar now
        let sbSrch = document.getElementById("searchHeader");
        let srchEntry = document.getElementById("searchBar");
        sbSrch.after(srchEntry);

        document.getElementById("searchTextPositioner").classList.add('searchTextPortraitPositioner');
        document.getElementById("searchText").classList.add('searchTextPortrait');
        // document.getElementById("searchButton").style.display = "none";  // No magnifying glass in the sidebar

        document.getElementById("searchBar").addEventListener("submit", function(event) {
            event.preventDefault();
            event.stopPropagation();
            search();
        }, false);
      }


      //var sidebarGrid = new Muuri('#sidebargrid', {
      //  dragEnabled: true, dragAxis: 'y'
      //});
      var sidebarGrid = new Muuri('#sidebargrid');

      if (width < 1024)
      {
          MoveEditProposalBarIntoSidebar();
      }

      // search always in sidebar now
      if (0) sidebarGrid.hide(document.getElementById("searchResults"), {instant: true});
      sidebarGrid.refreshItems().layout();


      if (portrait) {
          //document.getElementById("EpBar").style.display = "none";  // No room in portrait mode to offer this
          document.querySelector(".leftsidebar").style.display = "none";
          document.getElementById("sideBarButton").src = '/_static_/images/openmenuIcon.svg';
      }

    block endScript
    script(src="/_static_/js/sidebar.js")
